<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Begivenheder</title>
    <link rel="stylesheet" href="/css/adminEvent.css">
</head>
<body>
<div class="sec-con">
    <div class="create-con">
        <label>Titel</label><br>
        <input class="title-inp inp" type="text"><br><br>
        <label>Start tid</label><br>
        <input class="start-inp inp" type="datetime-local"><br><br>
        <label>Slut tid</label><br>
        <input class="end-inp inp" type="datetime-local"><br><br><br><br>
        <label>Besked</label><br>
        <textarea class="msg-inp inp" rows="20" cols="35"></textarea><br><br>
        <input class="send-btn" type="button" value="Send">
    </div>
    <div class="event-list">

    </div>
</div>

<script src="/js/adminEvent.js"></script>
</body>
</html>