<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medlems administration</title>
    <link href="/css/member_overview_module.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="/js/navbar.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/"><img src="/images/temp_logo_white.png" alt="Logo" width="150px;"></a>

    <!-- Links -->
    <ul class="navbar-nav nav" style="float:left;">
        <li class="nav-item">
            <a class="nav-link" href="/om">Om os</a>
        </li>
        <li class="nav-item" id="suggestionsLi" style="display:none;">
            <a class="nav-link" id="suggestionsA"></a>
        </li>
        <li class="nav-item" id="fileArchiveLi" style="display:none;">
            <a class="nav-link" id="fileArchiveA"></a>
        </li>
        <li class="nav-item" id="sendEmailLi" style="display:none;">
            <a class="nav-link" id="sendEmailA"></a>
        </li>
        <li class="nav-item" id="membersLi" style="display:none;">
            <a class="nav-link" id="membersA"></a>
        </li>
        <li class="nav-item" id="usersLi" style="display:none;">
            <a class="nav-link" id="usersA"></a>
        </li>
        <li class="nav-item" id="eventsLi" style="display:none;">
            <a class="nav-link" id="eventsA"></a>
        </li>
        <li class="nav-item" id="dashboardLi" style="display:none;">
            <a class="nav-link" id="dashboardA"></a>
        </li>


    </ul>
    <ul class="ml-auto nav navbar-nav">
        <li class="nav-item navbar-right">
            <a class="nav-link" id="login-out"></a>
        </li>
    </ul>

</nav>

<h1 class="header">Admin: Medlemmer</h1>
<br><br>
<input class="new-member-btn" type="button" value="Nyt medlem"><br><br>
<div class="grid-con">
    <div class="grid-item">
        <div class="overview"></div>
    </div>
    <div class="grid-item">
        <div class="Chosen">
            <label class="chosen-label">Medlems id</label><br>
            <input class="chosen-input member-id" type="text" disabled>
            <br><br>
            <label class="chosen-label">Medlemsnummer</label><br>
            <input class="chosen-input member-number" type="text" disabled>
            <br><br>
            <label class="chosen-label">Vejnavn</label><br>
            <input class="chosen-input road-name" type="text" disabled>
            <br><br>
            <label class="chosen-label">Vejnummer</label><br>
            <input class="chosen-input road-number" type="text" disabled>
            <br><br>
            <label class="chosen-label">Ejernavn</label><br>
            <input class="chosen-input owner-name" type="text" disabled>
            <br><br>
            <label class="chosen-label">Bruger</label><br>
            <select class="user-select chosen-input" disabled></select>
            <input class="user-remove-btn" type="button" value="Fjern" disabled>
            <br><br>
            <br>
            <input class="save-btn chosen-btn" type="button" value="Opdater" disabled>
            <input class="delete-btn chosen-btn" type="button" value="Slet" disabled>
        </div>
    </div>
</div>

<div class="create-window" hidden>
    <label>Medlemsnummer</label><br>
    <input class="new-member-number new-input" type="text"><br><br>
    <label>Vejnavn</label><br>
    <input class="new-road-name new-input" type="text"><br><br>
    <label>Vejnummer</label><br>
    <input class="new-road-number new-input" type="text"><br><br>
    <label>Ejer navn</label><br>
    <input class="new-owner-name new-input" type="text"><br><br>
    <br>
    <input class="create-btn" type="button" value="Opret">
    <input class="cancel-btn" type="button" value="Annuller">
</div>

<script src="/js/member_overview_module.js"></script>
</body>
</html>