<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Email</title>
    <script src="js/sendEmails/sendEmails.js"></script>
</head>
<body>

<div id="master-div" style="width: 100%; ">
    <div style="float: left; border-right: 2px solid gray; padding-right: 10px">
        <div id="subject-field-div">
            Subject:
            <br>
            <input name="Subject" id="subject-input" style="width: 300px">
        </div>
        <br>
        <div id="message-field-div">
            Message:
            <br>
            <textarea name="message" id="message-textarea" style="height: 200px; width: 300px"></textarea>
        </div>
        <br>
        <div id="button-div" style="padding-left: 109px">
            <button onclick="sendEmail()">Send email</button>
        </div>
    </div>

    <div style="float: left; padding-left: 10px;">
        <div id="members-div">

        </div>
    </div>
</div>

</body>
</html>