<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fil arkiv</title>
    <link rel="stylesheet" href="/css/fileArchiveStyle.css" type="text/css">
</head>
<body>
<script src="/js/fileArchive/fileArchive.js" type="text/javascript"></script>
<script src="/js/fileArchive/fileArchiveBuild.js" type="text/javascript" ></script>
    <div id="uploadDiv">
        <div id="uploadIDiv"><input type="file" id="fileToUpload" name="file"></div>
        <div id="uploadBtn"><button onclick="upload()">Upload</button></div>
    </div>

    <div id="test">

    </div>
</body>
</html>