<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forslag</title>
    <script src="js/suggestions/suggestions.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="/js/navbar.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/"><img src="/images/temp_logo_white.png" alt="Logo" width="150px;"></a>

    <!-- Links -->
    <ul class="navbar-nav nav" style="float:left;">
        <li class="nav-item">
            <a class="nav-link" href="/om">Om os</a>
        </li>
        <li class="nav-item" id="suggestionsLi" style="display:none;">
            <a class="nav-link" id="suggestionsA"></a>
        </li>
        <li class="nav-item" id="fileArchiveLi" style="display:none;">
            <a class="nav-link" id="fileArchiveA"></a>
        </li>
        <li class="nav-item" id="sendEmailLi" style="display:none;">
            <a class="nav-link" id="sendEmailA"></a>
        </li>
        <li class="nav-item" id="membersLi" style="display:none;">
            <a class="nav-link" id="membersA"></a>
        </li>
        <li class="nav-item" id="usersLi" style="display:none;">
            <a class="nav-link" id="usersA"></a>
        </li>
        <li class="nav-item" id="eventsLi" style="display:none;">
            <a class="nav-link" id="eventsA"></a>
        </li>
        <li class="nav-item" id="dashboardLi" style="display:none;">
            <a class="nav-link" id="dashboardA"></a>
        </li>


    </ul>
    <ul class="ml-auto nav navbar-nav">
        <li class="nav-item navbar-right">
            <a class="nav-link" id="login-out"></a>
        </li>
    </ul>

</nav>


<div id="master-div" style="width: 100%; ">
    <div style="float: left; border-right: 2px solid gray; padding-right: 10px; margin: 5px 0 0 10px;">
        <div id="suggestion-field-div">
            Forslag:
            <br>
            <textarea name="suggestion" id="suggestion-textarea" style="height: 200px; width: 100%"></textarea>
        </div>
        <br>
        <div id="button-div" style="width: 100%">
            <button onclick="postSuggestion()" class="btn">Indsend forslag</button>
        </div>
    </div>

    <div style="float: left; padding-left: 10px;">
        <div id="suggestions-div">

        </div>
    </div>
</div>

</body>
</html>