.map{
    width: 60%;
    margin-left: 20%;
}
.map-desc{
    margin-left: 20%;
}
.info-box{
    border: solid black 5px;
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
    padding: 0 10px 0 10px;
}
.file-link-box{
    margin-left: 25%;
    padding: 0 10px 0 10px;
}